rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    match /battles/{battleId} {
      allow read, write: if isAuthenticated();
    }

    match /chats/{chatId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && request.resource.data.content[0].text.size() <= 3000;
    }

    match /room_users/{roomUserId} {
      allow read, update, delete: if isAuthenticated() && request.auth.uid == resource.data.userId;
      allow create: if isAuthenticated();
    }

    match /rooms/{roomId} {
      allow read, write: if isAuthenticated();
    }

    match /summaries/{summaryId} {
      allow read: if true;
      allow write: if isAuthenticated();
    }
  }
}