.roomBuildForm {
  padding: 24px;
  border: 1px solid gray;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    button {
      margin-top: 12px;
      height: 52px;
      background: #28003e;
      font-size: 18px;
      font-weight: bold;
      border-radius: 8px;
      cursor: pointer;
      &:disabled {
        background: #4d4d4d;
        opacity: 0.8;
        cursor: not-allowed;
      }
    }
  }
  &.disable .content {
    opacity: 0.5;
    cursor: not-allowed;
    input,
    button {
      pointer-events: none;
    }
  }

  .authOverlay {
    display: none;
  }
  &.disable .authOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background: #000000aa;
  }
}

.item {
  display: flex;
  flex-direction: column;
  gap: 2px;

  label {
    font-size: 1rem;
    font-weight: 500;
  }
  input {
    width: 360px;
    height: 52px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.share {
  width: 360px;
  &_copy {
    padding: 12px;
    border: 1px solid #747775;
    border-radius: 4px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_text {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
  img {
    height: 24px;
    width: auto;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
    &:active {
      opacity: 1;
    }
  }
}
