.speechBubble {
  padding: 10px;
  background: white;
  color: black;
  border-radius: 10px;
  ul {
    padding-left: 16px;
  }
  p {
    margin: 8px auto;
  }
}

.own {
  background: white;
  color: black;
}

.opposite {
  background: #898989;
  color: black;
}
