.chatRoom {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
}

.form {
  width: 100%;
  display: flex;
  input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  button {
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #28003e;
    color: white;
    font-weight: bold;
    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

.canFinish {
  margin: 40px auto;
  width: max-content;
  .buttons {
    display: flex;
    gap: 10px;
    width: 400px;
    margin: auto;
    justify-content: center;
    .startJudge,
    .continueChat {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      cursor: pointer;
    }
    .startJudge {
      width: 70%;
      background: #004201;
      color: white;
      font-weight: bold;
    }
    .continueChat {
      width: 30%;
      flex-grow: 1;
      background: transparent;
      color: white;
    }
  }
  .description {
    margin-top: 12px;
    font-weight: bold;
    color: rgb(200, 0, 0);
  }
}

.notify {
  margin: auto;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: rgb(200, 0, 0);
}
